.img {
  position: absolute;
  left: 781px;
}
/* /////////ok//////////// */
.logo {
  position: absolute;
  width: 181px;
  height: 181px;
  left: 283px;
  top: 105px;
}
.logoo {
  position: absolute;
  width: 234px;
  height: 84px;
  left: 259px;
  top: 222px;
  font-family: "Pretendard";
  font-weight: 900;
  font-size: 70px;
  line-height: 84px;
  color: #1c3879;
}
.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  width: 311.1px;
  height: 696px;
  left: 218px;
  top: 409px;
}
.id,
.password,
.Verify,
.Birthday,
.Name,
.Nationality {
  /* Frame 14 */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 18px;
  width: 311px;
  height: 52px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  /* Inside auto layout */
  flex: none;
}
.signup-button {
  /* Rectangle 5 */
  box-sizing: border-box;
  margin-top: 15px;
  /* position: absolute; */
  width: 311px;
  height: 50px;
  background: #1c3879;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  flex: none;
  order: 1;
}
.Login {
  /* 로그인 */
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 9px;
}
.signUp {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 9px;
}
