.bgimg {
  position: absolute;
  left: 781px;
}
.logo {
  position: absolute;
  width: 181px;
  height: 181px;
  left: 283px;
  top: 105px;
}
.logoo {
  position: absolute;
  width: 234px;
  height: 84px;
  left: 259px;
  top: 222px;
  font-family: "Pretendard";
  font-weight: 900;
  font-size: 70px;
  line-height: 84px;
  color: #1c3879;
}
.input-field {
  position: absolute;
  width: 311.1px;
  left: 218px;
  top: 409px;
  vertical-align: middle;
  flex-direction: column;
}
.id,
.password,
.Verify,
.Birthday,
.Name,
.Nationality {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 18px;
  width: 311px;
  height: 52px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  flex: none;
}
.signup-button {
  box-sizing: border-box;
  margin-top: 15px;
  width: 311px;
  height: 50px;
  background: #1c3879;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  flex: none;
  order: 1;
}
.Login {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 9px;
}
.signUp {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 9px;
}
.profile {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  cursor: pointer;
  &::hover {
    background: rgb(77, 77, 77);
    color: #fff;
  }
}
