/* sign up page */

.signup-page {
  position: relative;
  width: 1920px;
  height: 1200px;
  /* background: #ffffff; */
}

.circle-logo {
  /* width: 181px;
  height: 181px;
  left: 283px;
  top: 95px; */
  background: url(../img/SENSY_logo.JPG);
}

/* 로고 텍스트 */
.logo-text,
h3 {
  position: absolute;
  width: 170px;
  height: 84px;
  top: 110px;
  left: 160px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 84px;
  color: #1c3879;
}

/* 프로필 이미지 */
.profile-image {
  position: absolute;
  width: 76px;
  height: 16px;
  left: 335px;
  top: 958px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #848484;
}

/* SENSY 홍보자료 */
/* .sensy-promotion {
  position: absolute;
  width: 1139px;
  height: 1200px;
  left: 781px;
  top: 0px;
  background: url(../img/SENSY_홍보자료.JPG);
} */

.form-group {
  width: 250px;
}

.signup-button {
  width: 225px;
  height: 50px;
  background-color: #1c3879;
  color: #ffffff;
  font-size: large;
  font-weight: 550;
  border-radius: 6px;
  top: 1000px;
}
